In [1]:
import pandas as pd
import numpy as np

In [5]:
df1 = pd.read_csv('./Data sets/DataCoSupplyChainDataset.csv',  encoding_errors='ignore')
df2 = pd.read_csv('./Data sets/DescriptionDataCoSupplyChain.csv',  encoding_errors='ignore')
df3 = pd.read_csv("./Data sets/tokenized_access_logs.csv",  encoding_errors='ignore')


print(df1.head(), df2.head(), df3.head())

       Type  Days for shipping (real)  Days for shipment (scheduled)  \
0     DEBIT                         3                              4
1  TRANSFER                         5                              4
2      CASH                         4                              4
3     DEBIT                         3                              4
4   PAYMENT                         2                              4

   Benefit per order  Sales per customer   Delivery Status  \
0          91.250000          314.640015  Advance shipping
1        -249.089996          311.359985     Late delivery
2        -247.779999          309.720001  Shipping on time
3          22.860001          304.809998  Advance shipping
4         134.210007          298.250000  Advance shipping

   Late_delivery_risk  Category Id   Category Name Customer City  ...  \
0                   0           73  Sporting Goods        Caguas  ...
1                   1           73  Sporting Goods        Caguas  ...
2                   0           73  Sporting Goods      San Jose  ...
3                   0           73  Sporting Goods   Los Angeles  ...
4                   0           73  Sporting Goods        Caguas  ...

  Order Zipcode Product Card Id Product Category Id  Product Description  \
0           NaN            1360                  73                  NaN
1           NaN            1360                  73                  NaN
2           NaN            1360                  73                  NaN
3           NaN            1360                  73                  NaN
4           NaN            1360                  73                  NaN

                                  Product Image  Product Name Product Price  \
0  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
1  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
2  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
3  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
4  http://images.acmesports.sports/Smart+watch   Smart watch         327.75

  Product Status shipping date (DateOrders)   Shipping Mode
0              0             2/3/2018 22:56  Standard Class
1              0            1/18/2018 12:27  Standard Class
2              0            1/17/2018 12:06  Standard Class
3              0            1/16/2018 11:45  Standard Class
4              0            1/15/2018 11:24  Standard Class

[5 rows x 53 columns]                           FIELDS  \
0                           Type
1  Days for shipping (real)
2  Days for shipment (scheduled)
3              Benefit per order
4             Sales per customer

                                         DESCRIPTION
0                        :  Type of transaction made
1   :  Actual shipping days of the purchased product
2  :  Days of scheduled delivery of the purchased...
3                       :  Earnings per order placed
4      :  Total sales per customer made per customer                                         Product             Category  \
0     adidas Brazuca 2017 Official Match Ball  baseball & softball
1       The North Face Women's Recon Backpack   hunting & shooting
2      adidas Kids' RG III Mid Football Cleat       featured shops
3  Under Armour Men's Compression EV SL Slide          electronics
4                 Pelican Sunstream 100 Kayak         water sports

            Date Month  Hour Department              ip  \
0  9/1/2017 6:00   Sep     6   fitness     37.97.182.65
1  9/1/2017 6:00   Sep     6  fan shop     206.56.112.1
2  9/1/2017 6:00   Sep     6   apparel    215.143.180.0
3  9/1/2017 6:00   Sep     6  footwear     206.56.112.1
4  9/1/2017 6:01   Sep     6  fan shop   136.108.56.242

                                                 url
0  /department/fitness/category/baseball%20&%20so...
1  /department/fan%20shop/category/hunting%20&%20...
2  /department/apparel/category/featured%20shops/...
3  /department/footwear/category/electronics/prod...
4  /department/fan%20shop/category/water%20sports...

In [7]:
print(df1.columns)

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [8]:
df1['order date (DateOrders)'] = pd.to_datetime(df1['order date (DateOrders)'], errors='coerce')
df1['shipping date (DateOrders)'] = pd.to_datetime(df1['shipping date (DateOrders)'], errors='coerce')

In [9]:
df1.fillna({
    'Sales': df1['Sales'].median(),
    'Product Price': df1['Product Price'].median()
}, inplace=True)

In [10]:
df1.drop_duplicates(inplace=True)

In [11]:
df1['Shipping Delay'] = (df1['shipping date (DateOrders)'] - df1['order date (DateOrders)']).dt.days
df1['Profit Margin'] = df1['Order Item Profit Ratio'] * df1['Product Price']

In [12]:
df1 = pd.get_dummies(df1, columns=['Category Name', 'Market', 'Order Region', 'Order Status', 'Product Status', 'Shipping Mode'])

In [15]:
df1.describe()

,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Late_delivery_risk,Category Id,Customer Id,Customer Zipcode,Department Id,Latitude,...,Order Item Total,Order Profit Per Order,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Price,shipping date (DateOrders),Shipping Delay,Profit Margin
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180516.000000,180519.000000,180519.000000,...,180519.000000,180519.000000,24840.000000,180519.000000,180519.000000,0.0,180519.000000,180519,180519.000000,180519.000000
mean,3.497654,2.931847,21.974989,183.107609,0.548291,31.851451,6691.379495,35921.126914,5.443460,29.719955,...,183.107609,21.974989,55426.132327,692.509764,31.851451,NaN,141.232550,2016-06-16 05:45:23.202433024,3.471856,16.905945
min,0.000000,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,603.000000,2.000000,-33.937553,...,7.490000,-4274.979980,1040.000000,19.000000,2.000000,NaN,9.990000,2015-01-03 00:00:00,0.000000,-4499.977478
25%,2.000000,2.000000,7.000000,104.379997,0.000000,18.000000,3258.500000,725.000000,4.000000,18.265432,...,104.379997,7.000000,23464.000000,403.000000,18.000000,NaN,50.000000,2015-09-25 06:59:00,2.000000,4.158700
50%,3.000000,4.000000,31.520000,163.990005,1.000000,29.000000,6457.000000,19380.000000,5.000000,33.144863,...,163.990005,31.520000,59405.000000,627.000000,29.000000,NaN,59.990002,2016-06-15 08:32:00,3.000000,17.397100
75%,5.000000,4.000000,64.800003,247.399994,1.000000,45.000000,9779.000000,78207.000000,7.000000,39.279617,...,247.399994,64.800003,90008.000000,1004.000000,45.000000,NaN,199.990005,2017-03-04 21:29:00,5.000000,41.997900
max,6.000000,4.000000,911.799988,1939.989990,1.000000,76.000000,20757.000000,99205.000000,12.000000,48.781933,...,1939.989990,911.799988,99301.000000,1363.000000,76.000000,NaN,1999.989990,2018-02-06 22:14:00,6.000000,959.995173
std,1.623722,1.374449,104.433526,120.043670,0.497664,15.640064,4162.918106,37542.461122,1.629246,9.813646,...,120.043670,104.433526,31919.279101,336.446807,15.640064,NaN,139.732492,NaN,1.670471,95.795734

In [16]:
print(df2.columns)
print(df3.columns)

Index(['FIELDS', 'DESCRIPTION'], dtype='object')
Index(['Product', 'Category', 'Date', 'Month', 'Hour', 'Department', 'ip',
       'url'],
      dtype='object')

In [18]:
df2.columns = ['Field', 'Description']
print(df2.head())

                           Field  \
0                           Type
1  Days for shipping (real)
2  Days for shipment (scheduled)
3              Benefit per order
4             Sales per customer

                                         Description
0                        :  Type of transaction made
1   :  Actual shipping days of the purchased product
2  :  Days of scheduled delivery of the purchased...
3                       :  Earnings per order placed
4      :  Total sales per customer made per customer

In [19]:
df3['Date'] = pd.to_datetime(df3['Date'], errors='coerce')
df3

,Product,Category,Date,Month,Hour,Department,ip,url
0,adidas Brazuca 2017 Official Match Ball,baseball & softball,2017-09-01 06:00:00,Sep,6,fitness,37.97.182.65,/department/fitness/category/baseball%20&%20so...
1,The North Face Women's Recon Backpack,hunting & shooting,2017-09-01 06:00:00,Sep,6,fan shop,206.56.112.1,/department/fan%20shop/category/hunting%20&%20...
2,adidas Kids' RG III Mid Football Cleat,featured shops,2017-09-01 06:00:00,Sep,6,apparel,215.143.180.0,/department/apparel/category/featured%20shops/...
3,Under Armour Men's Compression EV SL Slide,electronics,2017-09-01 06:00:00,Sep,6,footwear,206.56.112.1,/department/footwear/category/electronics/prod...
4,Pelican Sunstream 100 Kayak,water sports,2017-09-01 06:01:00,Sep,6,fan shop,136.108.56.242,/department/fan%20shop/category/water%20sports...
...,...,...,...,...,...,...,...,...
469972,Nike Men's Free TR 5.0 TB Training Shoe,as seen on tv!,2017-10-09 21:21:00,Oct,21,footwear,93.166.57.36,/department/footwear/category/as%20seen%20on%2...
469973,Under Armour Hustle Storm Medium Duffle Bag,fitness accessories,2017-10-09 21:21:00,Oct,21,footwear,126.175.2.58,/department/footwear/category/fitness%20access...
469974,Under Armour Hustle Storm Medium Duffle Bag,fitness accessories,2017-10-09 21:22:00,Oct,21,footwear,201.210.19.242,/department/footwear/category/fitness%20access...
469975,Nike Men's Dri-FIT Victory Golf Polo,women's apparel,2017-10-09 21:22:00,Oct,21,golf,56.81.167.135,/department/golf/category/women's%20apparel/pr...
469976,Bridgestone e6 Straight Distance NFL San Dieg,electronics,2017-10-09 21:23:00,Oct,21,outdoors,146.184.239.226,/department/outdoors/category/electronics/prod...

In [20]:
df3.fillna({
    'Department': 'Unknown',
    'ip': 'Unknown',
    'url': 'Unknown'
}, inplace=True)

In [44]:
columns_to_keep = [
    'Order Id', 'Order Item Id', 'Order Item Product Price', 'Order Item Quantity',
    'Order Item Total', 'Order Profit Per Order',
    'Days for shipping (real)', 'Days for shipment (scheduled)',
    'Shipping Mode_First Class', 'Shipping Mode_Same Day', 'Shipping Mode_Second Class', 'Shipping Mode_Standard Class',
    'Delivery Status', 'Late_delivery_risk',
    'Product Name', 'Product Price', 'Product Category Id',
    'Customer City', 'Customer Country', 'Customer State', 'Customer Zipcode',
    'order date (DateOrders)', 'shipping date (DateOrders)',
    'Order Status_CANCELED', 'Order Status_CLOSED', 'Order Status_COMPLETE', 'Order Status_ON_HOLD',
    'Order Status_PAYMENT_REVIEW', 'Order Status_PENDING', 'Order Status_PENDING_PAYMENT', 'Order Status_PROCESSING',
    'Order Status_SUSPECTED_FRAUD'
]

df_cleaned = df1[columns_to_keep]

In [45]:
df_cleaned

,Order Id,Order Item Id,Order Item Product Price,Order Item Quantity,Order Item Total,Order Profit Per Order,Days for shipping (real),Days for shipment (scheduled),Shipping Mode_First Class,Shipping Mode_Same Day,...,shipping date (DateOrders),Order Status_CANCELED,Order Status_CLOSED,Order Status_COMPLETE,Order Status_ON_HOLD,Order Status_PAYMENT_REVIEW,Order Status_PENDING,Order Status_PENDING_PAYMENT,Order Status_PROCESSING,Order Status_SUSPECTED_FRAUD
0,77202,180517,327.750000,1,314.640015,91.250000,3,4,False,False,...,2018-02-03 22:56:00,False,False,True,False,False,False,False,False,False
1,75939,179254,327.750000,1,311.359985,-249.089996,5,4,False,False,...,2018-01-18 12:27:00,False,False,False,False,False,True,False,False,False
2,75938,179253,327.750000,1,309.720001,-247.779999,4,4,False,False,...,2018-01-17 12:06:00,False,True,False,False,False,False,False,False,False
3,75937,179252,327.750000,1,304.809998,22.860001,3,4,False,False,...,2018-01-16 11:45:00,False,False,True,False,False,False,False,False,False
4,75936,179251,327.750000,1,298.250000,134.210007,2,4,False,False,...,2018-01-15 11:24:00,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,26043,65177,399.980011,1,399.980011,40.000000,4,4,False,False,...,2016-01-20 03:40:00,False,True,False,False,False,False,False,False,False
180515,26037,65161,399.980011,1,395.980011,-613.770019,3,2,False,False,...,2016-01-19 01:34:00,False,False,True,False,False,False,False,False,False
180516,26024,65129,399.980011,1,391.980011,141.110001,5,4,False,False,...,2016-01-20 21:00:00,False,False,False,False,False,True,False,False,False
180517,26022,65126,399.980011,1,387.980011,186.229996,3,4,False,False,...,2016-01-18 20:18:00,False,False,False,False,False,False,True,False,False
180518,26018,65113,399.980011,1,383.980011,168.949997,4,4,False,False,...,2016-01-19 18:54:00,False,False,False,False,False,False,True,False,False

In [22]:
pip install pandas sqlalchemy psycopg2-binary

Requirement already satisfied: pandas in c:\users\moinu\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\moinu\appdata\local\programs\python\python312\lib\site-packages (2.0.32)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp312-cp312-win_amd64.whl.metadata (4.6 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\moinu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\moinu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\moinu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\moinu\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\moinu\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\moinu\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in c:\users\moinu\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading psycopg2_binary-2.9.9-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   ------------------ --------------------- 0.5/1.2 MB 57.3 kB/s eta 0:00:12
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   --------------------------- ------------ 0.8/1.2 MB 69.2 kB/s eta 0:00:06
   ------------------------------------ --- 1.0/1.2 MB 60.3 kB/s eta 0:00:02
   ------------------------------------ --- 1.0/1.2 MB 60.3 kB/s eta 0:00:02
   ------------------------------------ --- 1.0/1.2 MB 60.3 kB/s eta 0:00:02
   ------------------------------------ --- 1.0/1.2 MB 60.3 kB/s eta 0:00:02
   ------------------------------------ --- 1.0/1.2 MB 60.3 kB/s eta 0:00:02
   ------------------------------------ --- 1.0/1.2 MB 60.3 kB/s eta 0:00:02
   ------------------------------------ --- 1.0/1.2 MB 60.3 kB/s eta 0:00:02
   ------------------------------------ --- 1.0/1.2 MB 60.3 kB/s eta 0:00:02
   ------------------------------------ --- 1.0/1.2 MB 60.3 kB/s eta 0:00:02
   ---------------------------------------- 1.2/1.2 MB 60.3 kB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~cipy (c:\Users\moinu\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~cipy (c:\Users\moinu\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~cipy (c:\Users\moinu\AppData\Local\Programs\Python\Python312\Lib\site-packages)

In [23]:
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError


user = 'postgres'
password = 'asad123'
host = 'localhost'  # or the IP address of your PostgreSQL server
port = '5432'       # default port for PostgreSQL
database = 'Supply Change project'

# Create a connection string
connection_string = f'postgresql://{user}:{password}@{host}:{port}/{database}'

# Create an SQLAlchemy engine
engine = create_engine(connection_string)



try:
    # Attempt to connect to the database
    with engine.connect() as connection:
        print("Connection established successfully!")
        print(f"Connection String: {connection_string}")

except SQLAlchemyError as e:
    print("Failed to connect to the database.")
    print(f"Error: {e}")

Connection established successfully!
Connection String: postgresql://postgres:asad123@localhost:5432/Supply Change project

In [42]:
table_name = 'Supply chain'
df_cleaned.to_sql(table_name, engine, if_exists='replace', index=False)

print(f"DataFrame successfully uploaded to table {table_name}.")

DataFrame successfully uploaded to table Supply chain.

In [43]:
df_cleaned.to_csv('cleaned Dataset.csv', index=False)